<!-- HEADER -->
<div id="header_wrap" class="outer">
  <div class='socialicons'>
    <a href="https://twitter.com/clopenmic"><i class="fa fa-twitter" aria-hidden="true"></i></a>  
    <a rel="me" href="https://mathstodon.xyz/@clopenmicnight"><i class="fa fa-mastodon" aria-hidden="true"></i></a>  
    <a href="https://www.youtube.com/channel/UCB4IpTgOQNwo-sUQb05g4nw/"><i class="fa fa-youtube" aria-hidden="true"></i></a>  
  </div>
  <header class="inner">
  <h1 id="project_title"><a href='/'>Clopen<br />Mic Night</a></h1>
  </header>
</div>
<div id="nav_wrap" class="outer">
  <nav role="navigation" id="site-nav" class="nav">
  {% include _nav.html %}
  </nav>
</div>
