<div class='person'>
<div class='imgwrap'>{% if {{include.img}} %}<img src='{{include.img}}'>{% else %}<img src='/assets/img/faceholder.png'>{% endif %}</div>
<div class='innertext'>
<h3>{{include.name}}</h3>
{{include.about}}

<ul class='sociallist'>
{% if {{include.pronouns}} %}<li><i class="fa-solid fa-circle-user" aria-hidden="true"></i> {{include.pronouns}}</li>{% endif %}
{% if {{include.website}} %}<li><a href="{{include.website}}"><i class="fa-brands fa-internet-explorer" aria-hidden="true"></i> {% if {{include.website_text}} %}{{include.website_text}}{% else %}{{ include.website | split:"//" | last}}{% endif %}</a></li>{% endif %}
{% if {{include.website2}} %}<li><a href="{{include.website2}}"><i class="fa-brands fa-internet-explorer" aria-hidden="true"></i> {% if {{include.website2_text}} %}{{include.website2_text}}{% else %}{{ include.website2 | split:"//" | last}}{% endif %}</a></li>{% endif %}
{% if {{include.email}} %}<li><a href="mailto:{{include.email}}"><i class="fa-brands fa-envelope-o" aria-hidden="true"></i> {{include.email}}</a></li>{% endif %}
{% if {{include.github}} %}<li><a href="https://github.com/{{include.github}}"><i class="fa-brands fa-github" aria-hidden="true"></i> {{include.github}}</a></li>{% endif %}
{% if {{include.mastodon}} %}{% assign mdon = include.mastodon | split: "@" %}<li><a href="https://{{mdon.last}}/@{{mdon.first}}"><i class="fa-brands fa-mastodon" aria-hidden="true"></i> @{{include.mastodon}}</a></li>{% endif %}
{% if {{include.twitter}} %}<li><a href="https://twitter.com/{{include.twitter}}"><i class="fa-brands fa-twitter" aria-hidden="true"></i> @{{include.twitter}}</a></li>{% endif %}
{% if {{include.youtube}} %}<li><a href="https://youtube.com/{{include.youtube}}"><i class="fa-brands fa-youtube" aria-hidden="true"></i> {{include.youtube}}</a></li>{% endif %}
{% if {{include.etsy}} %}<li><a href="https://etsy.com/uk/shop/{{include.etsy}}"><i class="fa-brands fa-etsy" aria-hidden="true"></i> {{include.etsy}}</a></li>{% endif %}
{% if {{include.instagram}} %}<li><a href="https://www.instagram.com/{{include.instagram}}"><i class="fa-brands fa-instagram" aria-hidden="true"></i> {{include.instagram}}</a></li>{% endif %}
</ul>
</div>
</div>
