<canvas id='snow' style='position:absolute;z-index:-2;top:0;left:0;'></canvas>
<script type='text/javascript'>
var snowsize = 50

var positions = Array()

var snowflakes = Array()
for (var i = 0; i <= 8; i++) {
  var img = new Image()
  img.src = '/assets/img/koch' + i + '.png'
  snowflakes.push(img)
}

var canvas = document.getElementById("snow");
var ctx = canvas.getContext("2d");
var snow_depth = 0
var snowspeed = 0.01

function resizeCanvas() {
  canvas.width = document.documentElement.clientWidth
  // canvas.height = document.getElementById("header_wrap").clientHeight
  canvas.height = 1000
  // canvas.height = document.documentElement.clientHeight

  for (var i = 0; i < positions.length; i++) {
    if (snow_depth < canvas.height && positions[i][1] > canvas.height + snowsize - snow_depth) {
        positions[i] = randomPos(-snowsize)
        snow_depth += snowspeed
    } else if (positions[i][0] > canvas.width + snowsize || positions[i][0] < -snowsize) {
        positions[i] = randomPos(-snowsize)
    }
  }

  drawFlakes()
}

function updateFlakes() {
  for (var i = 0; i < positions.length; i++) {
    positions[i][1] += 2 * snowsize / 30
    positions[i][0] += positions[i][2]
  }
  drawFlakes()
}

function drawFlakes() {
  ctx.clearRect(0, 0, canvas.width, canvas.height);
  for (var i = 0; i < positions.length; i++) {
    ctx.drawImage(snowflakes[positions[i][3]], positions[i][0]-snowsize/2, positions[i][1]-snowsize/2, snowsize, snowsize);
  }
  ctx.fillStyle = "#FFFFFF"
  ctx.fillRect(0, canvas.height - snow_depth, canvas.width, snow_depth)
}

function randomPos(h) {
  if (h == "RAND") {
    h = Math.floor(Math.random() * canvas.height)
  }

  return Array(Math.floor(Math.random() * canvas.width), h, Math.floor(Math.random() * snowsize/3 - snowsize/6), Math.floor(Math.random() * 9))
}

window.onload = function() {
  resizeCanvas()
  for (var i = 0; i < 50; i++)
  {
    positions.push(randomPos("RAND"))
  }
  updateFlakes()
}

setInterval(updateFlakes, 100)
setInterval(resizeCanvas, 1000)

</script>

