/*
COLOURS
        standard    less saturated
green   #059F6E     #529F87
blue    #47D8FE     #A3EBFE
purple  #8527C7     #A677C7
red     #A63029     #A66B68
grey    #999999
lgreen  #4Af757 (not used)
*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

a:hover .fa {
  color: #059F6E
}

h1#project_title,
h1#project_title a,
h1#project_title a:link,
h1#project_title a:active,
h1#project_title a:visited,
h1#project_title a:hover
{
  text-shadow: none;
  color: black;
  text-align: center;
  padding: 66px 0px;
  font-size: 222%;
  text-shadow: #A3EBFE 0px 0px 10px;
  font-family: 'Fredoka One', sans-serif;
  text-decoration:none
}
img#mic {
  border:none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
}

.nav {
  max-width: 720px;
  margin: auto;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float:left;
  font-variant:small-caps;
  font-weight:bold;
  font-size:20px;
}

.nav li:first-of-type a {
  border-radius: 0px 0px 0px 15px;
}
.nav li:last-of-type a {
  border-radius: 0px 0px 15px 0px;
}

.nav li:nth-of-type(1) a {
  background-color: #059F6E
}
.nav li:nth-of-type(1) a:hover,
.nav li:nth-of-type(1) a.thispage {
  color: #059F6E
}
.nav li:nth-of-type(2) a {
  background-color: #8527C7
}
.nav li:nth-of-type(2) a:hover,
.nav li:nth-of-type(2) a.thispage {
  color: #8527C7
}
.nav li:nth-of-type(3) a {
  background-color: #A63029
}
.nav li:nth-of-type(3) a:hover,
.nav li:nth-of-type(3) a.thispage {
  color: #A63029
}
.nav li:nth-of-type(4) a {
  background-color: #059F6E
}
.nav li:nth-of-type(4) a:hover,
.nav li:nth-of-type(4) a.thispage {
  color: #059F6E
}
.nav li:nth-of-type(5) a {
  background-color: #8527C7
}
.nav li:nth-of-type(5) a:hover,
.nav li:nth-of-type(5) a.thispage {
  color: #8527C7
}
.nav li:nth-of-type(6) a {
  background-color: #A63029
}
.nav li:nth-of-type(6) a:hover,
.nav li:nth-of-type(6) a.thispage {
  color: #A63029
}
.nav li:nth-of-type(7) a {
  background-color: #059F6E
}
.nav li:nth-of-type(7) a:hover,
.nav li:nth-of-type(7) a.thispage {
  color: #059F6E
}
.nav li:nth-of-type(8) a {
  background-color: #8527C7
}
.nav li:nth-of-type(8) a:hover,
.nav li:nth-of-type(8) a.thispage {
  color: #8527C7
}
.nav li:nth-of-type(9) a {
  background-color: #A63029
}
.nav li:nth-of-type(9) a:hover,
.nav li:nth-of-type(9) a.thispage {
  color: #A63029
}

.nav li a {
  padding: 12px;
  padding-right: 16px;
  padding-left: 16px;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  background: transparent
}

.nav li a:hover,
.nav li a.thispage {
  background-color: white;
}


#header_wrap .inner {
  padding-bottom:0px ! important;
  padding-top:0px ! important;
  background: transparent;
}

#nav_wrap {
  background-color:white
}

#header_wrap, #footer_wrap {
  background: transparent !important;
}
#header_wrap {
  background-image: url("/assets/img/clopenmic_padded.png") !important;
  background-size: 275px !important;
  background-repeat: no-repeat !important;
  background-position-x: left !important;
  background-position-y: bottom !important;
}

#footer_wrap {
  background-image: url("/assets/img/clopenmic.png") !important;
  background-size: 50px !important;
  background-repeat: no-repeat !important;
  background-position-x: center !important;
  background-position-y: center !important;
  min-height: 100px;
}

#project_tagline {margin-top:0px}

body {
  font-family: sans-serif;
  background-color: #A3EBFE;
  color: #000000
}

#main_content_wrap {
  border:none;
  background-color:#FFFFFF
}

.inner {max-width:720px}

#footer_wrap p {
  margin:0px;
  font-size:11px
}

h2 {
  margin-top:50px;
}

.image-center {
  max-width: 90%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.image-right,
.image-left {
  max-width:300px;
}
.image-left {
  float:left;
  margin-right:30px
}
.image-right {
  float:right;
  margin-left:30px
}

.socialicons {
  position:absolute;
  top:5px;
  right:5px;
  font-size:30px
}

.socialicons a,
.socialicons a:link,
.socialicons a:active,
.socialicons a:visited,
.socialicons a:hover {
  padding-left:10px;
}
.socialicons a,
.socialicons a:link,
.socialicons a:active,
.socialicons a:visited
 {
  color:black;
}

.socialicons a:hover {
  color:#059F6E;
}

.sociallist {
  list-style:none;
  margin-top:10px
}

.sociallist i.fa {
  width:20px;
}

@media (min-width:730px){
.person {
  min-height:200px
}

.person .imgwrap {
  padding-right:20px;
  float:left
}

.person .imgwrap, .person .innertext {
  display:inline-block
}

} /* end min-width:730px */

@media (max-width:730px){
.person .imgwrap {
  text-align:center
}

.person .imgwrap, .person .innertext {
  display:block
}

} /* end max-width:730px */

@media (max-width:1120px){
h1#project_title {
  padding-bottom:240px
}

} /* end max-width:1120px */

.person .imgwrap img {
  width:150px;
  border:none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  border-radius: 50%;
}

.person .innertext {
  max-width:530px;
}

h2 {
  background:none;
}

table.invisible,
table.invisible td,
table.invisible tr
{
  margin:0px;
  padding:0px;
  border:none
}

img.smaller
{
  max-height: 200px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

li.bigsection
{
  font-family: sans-serif;
  font-size:18px;
  margin-top:20px;
  font-weight:bold
}

.footnote {
  font-size: small;
  margin-top:10px
}

.footnote:target {
  font-weight: bold
}
